.history-btn {
    position: absolute;
    right: 2rem;
    color: white;
    width: 50px;
    height: 50px;
    background: #f44336;
    border-radius: 50px;
    z-index: 3;
}
.taskk,
.tit {
    color: white;
}
.tit {
    height: 80px;
    position: relative;
}

.taskk {
    font-size: 0.65rem;
    padding: .5rem 1rem;
    .player {
        font-weight: 350;
    }
    .action {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.577);
        line-height: 0.65rem;
    }
}
@media all and(max-width:800px) {
    .history-btn {
        top: inherit;
        right: -5px;
        mat-icon {
            position: fixed;
        }
    }
}
