.history-btn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: white;
    width: 50px;
    height: 50px;
    background: #f44336;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    z-index: 3;
}
.task,
.title {
    color: white;
}
.title {
    padding: 1rem 0;
}
.task {
    padding: .5rem 1rem;
    .player {
        font-size: 0.8rem;
    }
    .action {
        font-size: 0.7rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.577);
        line-height: 0.7rem;
    }
}
@media all and(max-width:800px) {
    .history-btn {
        top: inherit;
        right: -5px;
        mat-icon {
            position: fixed;
        }
    }
}
