.start {
  margin: 2rem;
}
mat-card {
  margin: 2rem;
  background-color: transparent;
}
.container {
  width: 300px;
  mat-form-field {
    margin-top: 1rem;
  }
}

.players {
  width: 600px;
  height: 400px;
  margin: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

app-player {
  display: block;
}
.button {
  height: 50px;
  min-width: 300px;
  border-radius: 50px;
  font-size: 1.3rem;
  margin: 0 2rem;
}

@media all and(max-width:800px) {
  .bg {
    justify-content: flex-start;
    .start {
      position: fixed;
      bottom: 5rem;
      right: 3rem;
      margin: 0;
    }
  }
  mat-card {
    margin: 0;
    width: 100%;
  }
  .container {
    width: 100%;
    mat-form-field {
      margin-top: 1rem;
    }
  }

  .players {
    border: none;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  app-player {
    display: block;
  }
}
