<div class="bg flex-center">
    <mat-card>
        <form class="flex-around container" [formGroup]="form" (ngSubmit)="addPlayer()">
            <mat-form-field appearance="outline" class="input" w>
                <mat-label>JUGADOR </mat-label>
                <input spellcheck="false" autocomplete="off" type="text" matInput formControlName="photo" name="photo"
                    #photo formControlName="name" #txtPlayer>

            </mat-form-field>
            <button mat-fab type="submit" color="primary" [disabled]="form.invalid">
                <mat-icon> add </mat-icon>
            </button>
        </form>
    </mat-card>
    <div class="players ">
        <app-player [showDelete]="true" [player]="item" *ngFor="let item of playerProvider.players" @leftToRight>
        </app-player>
    </div>
    <div class="flex-center buttons">
        <button color="warn" class="start button" mat-raised-button *ngIf="playerProvider.canResume" (click)="resume()"
            @apearAnimation>
            CONTINUAR
        </button>
        <button color="primary" class="start button" mat-raised-button
            [disabled]="this.playerProvider.players.length < 2 || !this.taskProvider.tasks.length" (click)="start()">
            EMPEZAR
        </button>
    </div>

    <div class="dear flex-center" *ngIf="taskProvider.tasks.length &&this.taskProvider.animateBg" @rightToLeft>
        <div class="number flex-center" @zoomIn *ngIf="taskProvider.animateNumber">
            <span> {{taskProvider.tasks.length}} </span>
            <span> Desafíos</span>
        </div>
    </div>

</div>