.start {
  margin: 2rem;
}
mat-card {
  margin: 1rem;
  background-color: transparent;
}
.container {
  width: 500px;
  mat-form-field {
    margin-top: 1rem;
    width: 100%;
    margin: 1rem 1rem 0;
  }
}

.players {
  width: 600px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

app-player {
  display: block;
}
.button {
  height: 50px;
  min-width: 300px;
  border-radius: 50px;
  font-size: 1.3rem;
  margin: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.dear {
  background-color: #7b1fa2;
  position: fixed;
  top: -3px;
  right: 0;
  width: 225px;
  height: 225px;
  border-radius: 0 0 0 225px;
  
  .number {
    flex-direction: column;
    position: relative;
    background-color: tomato;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    left: -38px;
    bottom: -38px;
    line-height: 1.2rem;
  }
}
@media all and(max-width:800px) {
  .bg {
    justify-content: flex-start;
  }
  mat-card {
    margin: 0;
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .players {
    width: 100%;
    height: fit-content;
    padding: 0 1rem;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  app-player {
    display: block;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    .button {
      height: 40px;
      min-width: 100px;
      width: 90%;
      border-radius: 40px;
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
  }
}
