<div class="bg flex-center">
    <div class="player flex-center" @playerAnimation>
        <div class="close  ns pointer flex-center" mat-ripple (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
        </div>
        <div class="name ns" [@inOutAnimation]="playerProvider.currentPlayer?.position">
            <div class="name ns" [appHighlight]="playerProvider.currentPlayer?.highlight">
                {{playerProvider?.currentPlayer?.name }}
            </div>
        </div>
    </div>

    <div class="task flex-center pointer" (click)="playerProvider.nextPlayer($event)">
        <div *ngIf="taskProvider.currentTask?.task" @apearAnimation>
            {{taskProvider.currentTask?.taskToPlay|firstCapital}}</div>
    </div>

    <div class="next ns pointer mat-elevation-z3 flex-center" mat-ripple (click)="playerProvider.nextPlayer($event)"
        @rotateLeft matTooltip="Ronda: {{taskProvider.round}}">
        <mat-icon>navigate_next</mat-icon>
    </div>
</div>