<div class="bg flex-center">
    <div class="player flex-center" @playerAnimation>
        <div class="name" @nameAnimation *ngIf="playerProvider?.currentPlayer"> {{playerProvider?.currentPlayer?.name }}
        </div>
    </div>

    <div class="task flex-center">
        <div *ngIf="playerProvider?.currentPlayer?.task?.task" @apearAnimation>
            {{playerProvider?.currentPlayer?.task?.task|titlecase}}</div>
    </div>
    <div class="close  ns pointer" mat-ripple (click)="back()">
        <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div class="next ns pointer mat-elevation-z3" mat-ripple (click)="playerProvider.nextPlayer()" @rotateLeft>
        <mat-icon>navigate_next</mat-icon>
    </div>
</div>