.bg {
  flex-direction: row;
}
.player {
  height: 100%;
  background-color: #7b1fa2;
  width: 600px;
  color: white;
  overflow: hidden;
  padding: 0 0.8rem;
  .name {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    line-height: 50px;
  }
}
.task {
  height: 100%;
  color: rgba(255, 255, 255, 0.856);
  font-size: 2rem;
  padding: 0 4rem;
  width: 100%;
  div {
    text-align: center;
    line-height: 40px;
    width: 100%;
    letter-spacing: 2px;
  }
}

.close {
  position: fixed;
  top: 2rem;
  left: 2rem;
  color: white;
  width: 50px;
  height: 50px;
  background: #f44336;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  z-index: 3;
}

@media all and(max-width:800px) {
  .close {
    top: inherit;
    left: -5px;
    mat-icon{
      position: fixed;
      right: 8px;
    }
  }
  .bg {
    flex-direction: column;
  }
  .player {
    height: fit-content;
    min-height: 5rem;
    width: 100%;
    .name {
      font-size: 1rem;
    }
    padding: 1rem 0;
  }
  .task {
    height: 100%;
    font-size: 1.1rem;
    padding: 0.5rem;
    div {
      text-align: center;
      line-height: 1.4rem;
      width: 100%;
      letter-spacing: 2px;
    }
  }
}
