.bg {
  height: 100vh;
  flex-direction: column;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  // font-family: "Dela Gothic One" "Helvetica Neue", sans-serif;
  font-family: "Dela Gothic One", cursive !important;
  background-color: rgba(0, 0, 0, 0.952);
}
.line {
  padding: 2px 1rem;
  margin: 2px 1rem;
  // border-bottom: solid 1px rgba(221, 216, 216, 0.274);
  transition: ease-in-out 300ms;
  cursor: pointer;
  &:hover {
    background-color: rgba(199, 190, 190, 0.137);
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: rgba(211, 211, 211, 0.082);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(211, 211, 211, 0.315);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(151, 151, 151, 0.637);
  border-radius: 1px;
}

.ns {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pointer {
  cursor: pointer;
}

.highlight {
  color: #f44336 !important;
}
.next {
  position: fixed;
  bottom: -10px;
  right: -10px;
  width: 150px;
  height: 150px;
  background: #7b1fa2;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  color: #ffffff;
  mat-icon {
    font-size: 6rem;
    height: fit-content;
    width: fit-content;
  }
}

@media all and(max-width:800px) {
  .next {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    right: -9px;
    bottom: -9px;
    mat-icon {
      position: static;
      font-size: 2.4rem;
      right: 2px;
      bottom: 2px;
    }
  }
  ::-webkit-scrollbar {
    width: initial;
    background: initial;
  }

  ::-webkit-scrollbar-track {
    box-shadow: initial;
    border-radius: initial;
  }

  ::-webkit-scrollbar-thumb {
    background: initial;
    border-radius: initial;
  }

  .line {
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  button,
  textarea,
  input,
  select,
  a,
  div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
