<div class="line flex-between player ns"
    [ngClass]="{'highlight': player.highlight,'male': !player.female,'female': player.female}"
    (click)="this.playerProvider.toogleGender(player)" mat-ripple>
    <div class="flex-start">
        <mat-icon>{{player.female?'female':'male'}}</mat-icon>
        <mat-label>
            {{player.name}}
        </mat-label>
    </div>
    <button mat-icon-button (click)="playerProvider.removePlayer(player,$event)" *ngIf="showDelete">
        <mat-icon>remove_circle_outline</mat-icon>
    </button>
</div>